<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/styleLogin.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
   <title>Dynamic Chat App</title>
</head>
<body>
   <div class="login-container">
      <div class="login-header">
         <h1>LOGIN</h1>
      </div>
      <div class="login-main">
         <form action="" method="POST">
            <div class="form-control">
               <label for="useremail">Email</label>
               <input type="email" name="email" placeholder="Enter Email" required>
            </div>

            <div class="form-control">
               <label for="password">Password</label>
               <input type="password" name="password" placeholder="Enter Password" required>
            </div>

            <input type="submit" class="btn" value="LOGIN">
            <a href="/register" class="register-btn">New User? Register Here</a>
            </form>
      </div>

      <div class="unsuccess-message">
         <% 
         if(typeof message != "undefined") {
            %>
               <%= message %>
            <%
         }
         %>
      </div>
   </div>

</body>
</html>